@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Kanit', sans-serif;
}

h1 {
  text-align: center;
  font-size: 3rem;
  width: 50%;
  margin-top: 0.5rem;
}

button {
  font-family: 'Kanit', sans-serif;
}

.startBtn {
  padding: 0.5rem; 
  border-radius: 10rem;
}

.positioning {
  display: flex;
  flex-direction: row;
  justify-content:center;
  width: 100%;
}

img {
  width: 20%;
  height: auto;
}

.wordContainer {
  display: flex;
  justify-content: center;
  height: 2rem;
  width:40%;
  margin-top: 6rem;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ffffff;
  font-size: 1rem;
  width: 1.2rem;
  list-style: none;
  margin: 0.3rem;
}
.messageCont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
}

.message {
  text-align: center;
  text-decoration: underline;
  font-size: 1.2rem;
}

.letterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.buttons > button {
  margin: 5px 1px;
  padding: 0.7rem;
}

@media (max-width: 858px) {
  h1, .letterContainer {
    width: 80%;
  }

  img {
    width: 30%;
  }
}

@media (max-width: 539px) {
  h1 {
    font-size: 2rem;
  }

  .positioning {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  img {
    width: 50%;
    height: auto;
  }

  .wordContainer {
    margin-top: 1rem;
  }

  .letterContainer {
    width: 85%;
  }

  .buttons > button {
    margin: 0.3rem;
  }
}